
header {
    height: 15vh;
    width : 100%;
    display : flex;

    justify-content: space-between;
    align-items: center;

}

header > h1{
    height  :100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#nav-link{
    width : 20vw !important;
}
.nav-link > a{
    text-decoration: none;
    color :black;
}

nav{
    display: flex;
    width : 25%;
    flex-direction: column;
    height: 100%;
}

.nav-options{
    height: 50%;
    width: 100%;

    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

button {
    display: flex;
    height : 6vh;
    width : 10vw;
    font-family : sans-serif;
    font-size: 1rem;
    background: white;
    border : 1px solid black;
    justify-content: center;
    align-items: center;
}


input {
    display: flex;
    height : 5vh;
    width : 20vw;
    font-family : sans-serif;
    font-size: 1rem;
    border : 1px solid black;
    padding-left : 10px;
}

/***********************************************************************************************************/

main {
    /*border : solid black;*/

    display : flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

}

form {
    margin : 2%;
    /*border: solid cyan;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form > div {
    margin : 2vh;
}


textarea {
    display: flex;
    height : 10vh;
    width : 20vw;
    font-family : sans-serif;
    font-size: 1rem;
    border : 1px solid black;
    padding-left : 10px;
}

a:hover, button:hover {
    cursor : pointer;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    border-width: 2px;
}


#published {
    height: 10%;
    width: 20%;
}

input::placeholder, textarea::placeholder{
    color : black;
}

#existingTags > li {
    display: flex;
    /*border: solid;*/
    justify-content: space-evenly;
    align-items: center;
    height: 5vh;
    width: 32vw;
}

#existingTags > button {
    /*height: 1vh !important;*/
    /*width: 1vw !important;*/
}


