<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Clicked Post</title>

    <link rel="stylesheet" type="text/css" href="/Post/Post.css" />

</head>

<body>
    <header>
        <h1>My Blog Application</h1>
        <nav>
            <div class="nav-options">
                <button> Search </button>
                <a> <h2> Login </h2></a>
            </div>
        </nav>
    </header>
    <main>
        <h1 th:text="${inputPost.title}"></h1>
        <div class="post-info">

            <p th:text="${inputPost.author}"></p>
            <p th:text="${inputPost.published_at}"></p>
        </div>

        <div class="post-content" >
            <p th:text="${inputPost.content}"></p>
        </div>

        <div class="post-tags">
            <th:block th:each="tag : ${tags}">
                <div class="title">
                    <h5 th:text="${tag.name}"></h5>
                </div>
            </th:block>
        </div>

    </main>

    <footer>
        <a th:href="@{'/posts/' + ${inputPost.id} + '/comments'}"><button>Comment</button></a>
        <a th:href="@{'/posts/delete/' + ${inputPost.id}}"><button>Delete</button></a>

        <a th:href="@{'/posts/update/' + ${inputPost.id}}"><button>Update</button></a>
    </footer>


</body>

</html>
