<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>update post</title>
    <link rel="stylesheet" href="/Tags/UpdateTags.css">
</head>
<body>
<!--    <form th:action="@{'/posts/update/' + ${retreivedPost.id}}" th:object="${retreivedPost}" method="POST">-->
<!--        <input th:field="*{title}" th:value="${retreivedPost.title}"/>-->
<!--        <input th:field="*{excerpt}" th:value="${retreivedPost.excerpt}"/>-->
<!--        <input th:field="*{content}" th:value="${retreivedPost.content}"/>-->
<!--        <input th:field="*{author}" th:value="${retreivedPost.author}"/>-->
<!--        <input type="datetime-local" th:field="*{published_at}" required/>-->
<!--        <input type="checkbox" th:field="*{is_Published}" />-->

<!--        <button type="submit"> update post </button>-->
<!--    </form>-->


    <main>
        <h1>Edit the Blog...</h1>
        <form action="#" th:action="@{'/posts/update/' + ${retreivedPost.id}}" th:object="${retreivedPost}" method="POST">
            <div>
                <input type="text" th:field="*{title}" th:value="${retreivedPost.title}" placeholder="Title" required/>
            </div>
            <div>
                <input type="text" th:field="*{excerpt}" th:value="${retreivedPost.excerpt}" placeholder="Excerpt" required/>
            </div>
            <div>
                <input type="text" th:field="*{author}" th:value="${retreivedPost.author}" placeholder="Author"  readonly/>
            </div>
            <div>
                <textarea th:field="*{content}" rows="5" th:value="${retreivedPost.content}" placeholder="Content" required></textarea>
            </div>


            <!-- Existing Tags -->
            <h3>Existing Tags:</h3>
            <ul id="existingTags">
                <th:block th:with="tagsList=${#strings.arraySplit(inputTags, ',')}">
                    <!-- Iterate through the list of existing tags -->
                    <th:block th:each="tag : ${tagsList}">
                        <li>
                            <span th:text="${tag}"></span>
                            <!-- Buttons for update and delete -->
                            <button type="button" onclick="updateTag(event)">Update</button>
                            <button type="button" onclick="deleteTag(event)">Delete</button>
                        </li>
                    </th:block>
                </th:block>
            </ul>

            <!-- Add New Tags -->
            <div>
                <input type="text" id="newTag" placeholder="Add a new tag">
                <button type="button" onclick="addNewTag()">Add Tag</button>
            </div>

            <!-- Hidden Input Field for Tags -->
            <input name="inputTags" id="inputTags" th:value="${inputTags}">

            <div>
                <input type="datetime-local" th:field="*{published_at}" th:value="${retreivedPost.published_at}" placeholder="Published_at" required/>
            </div>
            <div id="is-published-section">
                <input type="checkbox" th:field="*{is_Published}" th:value="${retreivedPost.is_Published}" id="published">
                <label >Is Published ?</label>
            </div>





            <button type="submit" >Update Post</button>


        </form>
    </main>


    <script src="/js/updateTags/UpdateTags.js"></script>
</body>
</html>