<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comments By PostId</title>

    <link rel="stylesheet" href="/Comments/CommentsByPostId.css"/>
</head>
<body>
    <header>
        <h1> <a th:href="@{'/posts'}">My Blog Application </a></h1>
        <div class="nav-link">
            <a th:href="@{'/posts/new'}"><button id="nav-link">Click to Write a new Blog....</button></a>
        </div>
        <nav>
            <div class="nav-options login-logout">
                <a th:href="@{'/posts/search'}"><button> Search </button></a>

                <a th:if=" ${loggedInUser} != '' "> <button> <span th:text="${loggedInUser}"></span> </button></a>
                <!--                <a th:href="@{'/login'}"><div th:if=" ${loggedInUser} == '' "> <h1>  Log in </h1></div></a>-->

                <a th:href="@{'/logout'}"><button> Logout </button></a>

            </div>
        </nav>
    </header>

    <div class="nav-link">
        <a th:href="@{'/posts/' + ${postId} + '/comments/new'}"><button id="create-comment">Click to Write a new Comment....</button></a>
    </div>


    <main>


        <th:block th:each="comment : ${commentsByPostId}">
            <div class="comment-container">
                <h2 th:text="${comment.name}"> </h2>
                <div id="comment">
                    <p th:text="${comment.comment}"></p>
                </div>
                <p th:text="${comment.created_at}"> </p>

                <div class="ud-buttons">
                    <span th:if="${loggedInUsername} == ${comment.name}">
                        <a th:href="@{'/posts/' + ${postId} + '/comments/delete/' + ${comment.id}}"><button>Delete</button></a>
                    </span>
                    <span th:if="${loggedInUsername} == ${comment.name}">
                        <a th:href="@{'/posts/' + ${postId} + '/comments/update/' + ${comment.id}}"><button>Update</button></a>
                    </span>
                </div>
            </div>
        </th:block>

    </main>



</body>
</html>