<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Comment</title>

    <link rel="stylesheet" href="/Comments/CreateComment.css">
</head>
<body>
  <header>
    <h1>My Blog Application</h1>
    <div class="nav-link">
      <a th:href="@{'/posts'}"><button id="nav-link">Click to View Blogs....</button></a>
    </div>
    <nav>
      <div class="nav-options">
        <button> Search </button>
        <a> <h2> Login </h2></a>
      </div>
    </nav>
  </header>

  <main>

    <h1> Write a new Comment</h1>
    <form action="#" th:action="@{'/posts/'+ ${clickedPostId} + '/comments/new'}" th:object="${inputNewComment}" method="POST">
              <div>
                <input type="text" th:value="${loggedInUser}" placeholder="Username" readonly/>
              </div>

              <div>
                <textarea th:field="*{comment}" rows="5" placeholder="Write Comment Here....." required></textarea>
              </div>

              <button type="submit" >Create Comment</button>
            </form>
  </main>
</body>
</html>