
header {
    height: 15vh;
    width : 100%;
    display : flex;

    justify-content: space-between;
    align-items: center;

}

header > h1{
    height  :100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    display: flex;
    width : 30%;
    flex-direction: column;
    height: 100%;
}

.nav-options{
    height: 50%;
    width: 100%;

    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

button {
    display: flex;
    height : 6vh;
    width : 10vw;
    font-family : sans-serif;
    font-size: 1rem;
    background: white;
    border : 1px solid black;
    justify-content: center;
    align-items: center;
}


input {
    display: flex;
    height : 5vh;
    width : 10vw;
    font-family : sans-serif;
    font-size: 1rem;
    border : 1px solid black;
    padding-left : 10px;
}

/*****************************************************************************/


main{
    height: auto;
    width: 100%;
    display: flex;

    /*border: solid black;*/
    align-items: center;
    /*justify-content: center;*/
    flex-direction: column;
    font-size: 2rem;

}

main > h1{
    padding : 0;
    margin: 0;
}

.post-info{
    display : flex;
    flex-direction: row;
    width : 20vw;
    justify-content: space-between;
    font-size: 1.2rem;
}

.post-content{
    margin : 5%;
}

/*/&*********************************************************/

footer{
    display : flex;
    justify-content: space-between;
    padding : 1.5%;
    font-size: 1rem;
    /*border: solid black;*/
}


a:hover, button:hover {
    cursor : pointer;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    border-width: 2px;
}

footer > a , footer > span > a {
    text-decoration: none;
    color : black;
}

footer > span {
    display: inline-block;
}
